.body {

}

.app::after {
    content: 'c04f3f26c45a895c4e4125d4c45175c958671d1d07704387'
}

@supports (display: grid) {
    .app::after {
        content: '';
        display: none;
    }
}


.comment {
    margin: 10px 0;
    padding: 10px;

    border: 1px solid #ccc;
}

.comment-meta {
    display: flex;
}

.comment-name {
    font-weight: bold;
}

.comment-date {
    margin-left: 20px;
    color: #ccc;
}
